@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

:root {
    --bg-color-lightGreen: rgb(130, 197, 24);
    --bg-color-darkGreen: rgb(0, 128, 55);
    --bg-color-gray: rgb(61, 61, 61);
}

* {
    font-family: 'Work Sans', sans-serif;
}
/* header-start */
#logo-header{
    border-radius: 50px;
    height: 100px;
}

#banner-uppage {
    display: block;
    justify-content: center;
    background: cover;
    margin: 0 70px 0 70px;
    padding: 20px 100px 20px 100px;
}


#banner-uppage img {
    width: 100%;
    height: 25 0px;
    justify-content: center;
    border-radius: 8px;
}

#section-banner {
    justify-content: center;
    text-align: center;
}
/* header-end */

/* main start */


.col h3 {
    margin: 30px 0 50px 0;
}

.col h3, h4 {
    margin-top: 30px;
    text-align: left;
}

.itens_links_principal {
    display: flex;
    flex-direction: column;
    text-align: left;

}

.itens_links_principal a {
    text-decoration: none;
    padding: 10px 0;
} 

.itens_links_principal a:hover {
    text-decoration: underline;
} 
/* main end */
#footerContainer{
    justify-content: center !important;
}

/* ---------------------------------------------------------------------------------------------------------------------------- */
.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
}

.btn.btn-light {
    color: white;
    border: none;
    border-radius: 20px;
    background-color: var(--bg-color-lightGreen);
}

.btn.btn-light:hover {
    color: white;
    background-color: var(--bg-color-darkGreen);
    transition: .3s ease;
}

.card {
    margin-top: 32px;
}

.card span a {
    color: var(--bg-color-lightGreen);
    text-decoration: none;
}

.card span a:hover {
    cursor: pointer;
    color: var(--bg-color-darkGreen);
    transition: .3s ease;
}

#midias a {
    text-decoration: none;
    color: #212529BF;
}

#midias a:hover {
    color:#151718bf;
    transition: .3s ease;
}

#midias i {
    font-size: 16px;
}

#imgFooter{
    display: flex;
    width: 400px;
    height: 200px;
    margin: 0  !important;
    cursor: pointer;
}

#imgFooterDiv{
    display: flex;
    justify-content: space-around !important;
    margin: 0  !important;
}

#mainFooter {
    width: 100%;
    display: flex;
    justify-content: space-around !important;
    margin-left: 60px;
    gap: 200px;
    margin: auto;
}

#footerContainer{
    justify-content: center !important;
}

@media (max-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    #mainFooter {
        gap: 10px;
    }

    #imgFooterDiv img {
        height: 100px;
        width: 100%;
    }

    #banner {
        width: auto;
    }

    .container {
        display:flex;
        flex-direction: row;
    }

    #logo-header {
        height: 90px;
    }

    .nav-item{
        margin: auto;
        justify-content: center;
        text-align: center;
    }
    
    #banner-uppage {
        padding: 0;
        margin: 0 20px 0 20px;
    }
}