/* Inicio do Navbar - Juh */
.navbar {
    padding: 15px;
    height: 70px;
    background-color: #06080e !important;
}

.navbar :hover {
    color: #FFEC80;
}

#navbarSupportedContent :hover {
    color: #FFEC80;

}

.btn-outline-warning {
    color: black;
    border-radius: 5px;
    margin: 5px;
    background-color: black;


}

.btn-outline-warning:hover {
    border-radius: 5px;
    background-color: #5c552e;

}

.btn-outline-info {
    margin: 5px;
    border-radius: 5px;
    background-color: black;


}

.btn-outline-info:hover {
    border-radius: 5px;
    color: black !important;
    background-color: #0dcaf0;

}

#navbarSupportedContent {
    font-size: 17px;
}

/* Fim do Navbar - Juh */

/* Inicio da Main Vic */

.container1 {
    color: white;
    margin: 5px;
    line-height: 25px;
    padding: 10px 0px;
}

.container2 {
    color: white;
    padding: 10px 0px;
    text-align: left;
    margin-top: 40px;
    margin-right: 0 !important;

}

#img-soulcodepag2 {
    margin: 30px 0px;
}

#img-soulcodepag2 {
    margin: 30px 0px;
    border-radius: 3%;
}

h3 {
    margin-right: 200px;
    text-align: justify;
}

.margemVic {
    margin-right: 200px;
    text-align: justify;
}

/* Fim da Main Vic */

/* INICIO CARROUSEU: Matheus */
body {
    background-color: #07151a;
}

#sectionCarousel {
    padding-top: 150px;
}

.cards-wapper {
    display: flex;
    justify-content: center;

}

.card {
    margin: 0 0.5rem;
    background-color: #0A1F26;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    color: white;
}

.card-text {
    color: rgb(132, 132, 132);
    text-align: start;
}

.card-img-top {
    width: 30px;

}

.timer {
    display: flex;
    background-color: rgba(240, 248, 255, 0.1);
    padding: 0px 5px 0px 5px;
    margin: 0 5%;
    justify-content: space-evenly;
    align-items: center;
}

.timer-title {
    color: rgb(178, 178, 178);
    font-size: 0.9rem;
    text-align: center;
    padding-top: 10px;
}

.border-img {
    display: flex;
    border-radius: 5px;
    background-color: rgba(137, 137, 145, 0.2);
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
}

.cardlink-link a {
    text-decoration: none;
    color: #FFEC80;
    font-size: 0.9rem;
}

.cardlink-link img {
    width: 30px;
}

.button-style button {
    border-radius: 50px !important;
    background-color: rgba(250, 250, 250, 0.2) !important;
    padding: 15px;
}

.carousel-control-prev {
    bottom: auto;
    top: auto;
    width: auto;
    margin: 0 0 0 80px;
}

.carousel-control-next {
    bottom: auto;
    top: auto;
    width: auto;
    margin: 0 80px 0 0;
}

#carouselExample {
    display: flex;
    align-items: center;
}

#titulo-pagina {
    font-size: 0.9rem;
    color: #FFEC80;
}

#texto-pagina {
    color: white;
}

#paragrafo-pagina {
    color: rgb(181, 181, 181);
}

.botao-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#botao-principal {
    color: black !important;
    ;
    text-decoration: none;
    background-color: #FFEC80;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    padding: 15px 30px;

}

/* FIM CARROUSEU: Matheus  */

/* Inicio Blog - Renata */
/* CSS RENATA */
#sectionBlog {
    padding-top: 150px;
}

.h1 {

    color: #FFD900 !important;

}

body {
    background-color: #0b0f19;
}

#imgBlog img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


.paragrafo {
    margin: 30px 0 30px 0;
    line-height: 29px;


}

.btn1 {
    background: #ca2828;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    width: fit-content;
    height: 40px;
    padding: 0 16px;
    transition: 0.2s;
    margin-left: -12px;

}

.btn1:hover {
    background: #fa7272;
}

#linkBlog {
    text-decoration: none;
    color: white;
}

/* Fim Blog - Renata */

/* Inicio do Footer Rafael */

footer{
    background-color: #06080e !important;
}
#logoFooter {
    width: 200px;
    
}

.zoom {
    overflow: hidden;
    padding: 20px;
}

.zoom img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.footer-company-name {
    color: white !important;
}

#fone {
    color: white;
}

.footer-company-about {
    color: white !important;
}

.footer-links {
    color: white !important;
}

.footer-distributed {
    background: #F8F9FA;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    color: black;
    background-color: #01102c;

}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: rgb(241, 236, 236);

    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: lightseagreen;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

#email {
    color: yellow;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: black;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

#principal span p {
    font-size: 20px;
}

#endereco {
    color: white;
    font-size: 16px !important;
    font-weight: 300 !important;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: yellow;
    font-size: 15px;
    font-weight: semibold;
    margin-bottom: 20px;
    text-align: center;
}

.link-1 {

    padding: 10px;
}

.link-1:hover {

    color: yellow !important;
}

.footer-distributed .footer-icons {
    margin-top: 35px;
    display: flex;
    justify-content: space-evenly;
}

.iconsFooter:hover {
    transform: scale(1.2);
    transition: 1.2;
    -webkit-transition: 1.2;
    -moz-transition: 1.2;
    -ms-transition: 1.2;
    -o-transition: 1.2;
}

/* Fim do Footer Rafael */